@model StreamsManage.Models.StreamerModel
<div class="card">
  <div class="card-header">Meus streamers</div>
  <div class="card-body">
       <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Nome" class="form-control" placeholder="Nome"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Link" class="form-control" placeholder="Link"/>
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Plataforma" class="form-control" placeholder="Plataforma"/>
                <span asp-validation-for="Plataforma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index"> <button type="button" class="btn btn-info">   Back to List
</button></a>
            </div>
        </form>
      </div>
      </div>
       



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
