@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Gerencie as lives dos seus Streamers Favoritos!</h1>
  <p>Cadastre seus streamers! </p> 
</div>
